<%- include("template/cabecera", {tituloWeb: 'Inicio' }) %>
<style>
    body{
        background-image: url("/img/fondo9.jpg");    
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>
<section>
    <div class="row">
        <div class="col-12">
            <a href="/circuito" class="ci">Circuitos: Consulta algunos de los circuitos de la temporada 2023</a>
        </div>
    </div>
    
</section>
