<%- include("template/cabecera", {tituloWeb: 'Inicio' }) %>
<section>
    <div class="row">
        <div class="col-12">
            <a href="/circuito" class="ci">Circuitos: Consulta algunos de los circuitos de la temporada 2023</a>
        </div>
    </div>
    <div class="d1">
        <img src="/img/f12022.jpg" alt="test" class="img1">
        <h1>Vuelven los Test a Bahrein</h1>
        <a class="a1">
            Los dias 23, 24 y 25 de Febrero desde las 8 hasta las 17 horas, 
           los equipos vuelven a las pistas para iniciar los primeros Tests de la pretemporada.
           Estos tests podrán verse desde DAZN
        </a>            
    </div>
    <br>
    <div class="d1">
        <img src="/img/nano.jpg" alt="fernandoAlonso" class="nano">
        <h1>Fernando Alonso ficha por Aston Martin</h1>
        <a class="a1">
           El bicampeón de 41 años buscará su victoria número 33 en el equipo inglés, el cual 
           ha mostrado ambición de cara a un futuro no muy lejano, pudiendo pelear por 
           campeonatos en un par de años.
        </a>
    </div>
    <br><br>
    <div class="d1">
        <img src="/img/haas2023.jpg" alt="haas" class="nano">
        <h1>Presentado el nuevo Haas para el 2023</h1>
        <a class="a1">
           El equipo americano, encabezado por Nico Hulkenberg, Kevin Magnusen y el Team Principal, 
           Gunter Steiner, han presentado el nuevo Haas que promete dar guerra en la zona media de 
           la Formula 1 para este año 2023
        </a>
    </div>
    
</section>
