header{
    background-color: white;
}

section{
    background-color: red;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    float: left;
    width: 100%;
}

#f1{
    width: 15%;
}

#wil, #haas{
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    width: 3%;
}
#alph, #alp{
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    width: 4%;
}
#ast, #alfa, #fer{
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    width: 6%;
}
#mer{
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    width: 3.5%;
}
#rb{
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    width: 8%;
}

.img1, .nano{
    float: left;
    width: 20%;
    margin-left: 3%;
    margin-right: 1%;
    border: 3px solid black;
}

.a1{
    font-size: 25px;
}