<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloWeb %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/"><img src="/img/logof1.png" alt="logo" id="f1"></a>
        <a href="/williams"><img src="/img/williams.png" alt="williams" id="wil"></a>
        <a href="/haas"><img src="/img/haas.png" id="haas" alt="haas"></a>
        <a href="/mclaren"><img src="/img/mclaren.png" id="mclaren" alt="mc"></a>
        <a href="/alpha"><img src="/img/alphatauri.png" alt="alphatauri" id="alph"></a>
        <a href="/aston"><img src="/img/astonmartin.png" alt="astonmartin" id="ast"></a>
        <a href="/alfaromeo"><img src="/img/alfaromeo.png" alt="alfaromeo" id="alfa"></a>
        <a href="/alpine"><img src="/img/alpine.png" alt="alpine" id="alp" ></a>
        <a href="/mercedes"><img src="/img/mercedes.png" alt="mercedes" id="mer"></a>
        <a href="/ferrari"><img src="/img/ferrari.png" alt="ferrari" id="fer"></a>
        <a href="/redbull"><img src="img/redbull.png" alt="redbull" id="rb"></a>
    </header>