<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloWeb %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/"><img src="/img/logof1.png" id="f1"></a>
        <a href="/williams"><img src="/img/williams.png" id="wil"></a>
        <a href="/haas"><img src="/img/haas.png" id="haas"></a>
        <a href="/alpha"><img src="/img/alphatauri.png" id="alph"></a>
        <a href="/aston"><img src="/img/astonmartin.png" id="ast"></a>
        <a href="/alfaromeo"><img src="/img/alfaromeo.png" id="alfa"></a>
        <a href="/alpine"><img src="/img/alpine.png" id="alp"></a>
        <a href="/mercedes"><img src="/img/mercedes.png" id="mer"></a>
        <a href="/ferrari"><img src="/img/ferrari.png" id="fer"></a>
        <a href=""><img src="img/redbull.png" id="rb"></a>
    </header>