<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloWeb %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="https://www.formula1.com/"><img src="public/img/logof1.png" id="f1"></a>
        <a href="https://www.williamsf1.com/"><img src="public/img/williams.png" id="wil"></a>
        <a href="https://www.haasf1team.com/"><img src="public/img/haas.png" id="haas"></a>
        <a href="https://scuderia.alphatauri.com/"><img src="public/img/alphatauri.png" id="alph"></a>
        <a href="https://www.astonmartinf1.com/"><img src="public/img/astonmartin.png" id="ast"></a>
        <a href="https://www.alfaromeo.es/alfa-romeo-racing"><img src="public/img/alfaromeo.png" id="alfa"></a>
        <a href="https://www.alpine-cars.co.uk/f1-team.html"><img src="public/img/alpine.png" id="alp"></a>
        <a href="https://www.mercedesamgf1.com/"><img src="public/img/mercedes.png" id="mer"></a>
        <a href="https://www.ferrari.com/en-EN/formula1"><img src="public/img/ferrari.png" id="fer"></a>
        <a href="https://www.redbullracing.com/"><img src="public/img/redbull.png" id="rb"></a>
    </header>